/* Responsive card names */

[data-card='Green']::before {
  content: '';
}

[data-card='Mustard']::before {
  content: '';
}

[data-card='Peacock']::before,
[data-card='White']::before {
  content: '';
}

[data-card='Plum']::before {
  content: '';
}

[data-card='Scarlet']::before {
  content: '';
}

[data-card='Billiard']::after,
[data-card='Dining']::after {
  content: '';
}

@media only screen and (min-width: 960px) {
  [data-card='Green']::before {
    content: 'Mr. ';
  }

  [data-card='Mustard']::before {
    content: 'Col. ';
  }

  [data-card='Peacock']::before,
  [data-card='White']::before {
    content: 'Mrs. ';
  }

  [data-card='Plum']::before {
    content: 'Prof. ';
  }

  [data-card='Scarlet']::before {
    content: 'Ms. ';
  }

  [data-card='Billiard']::after,
  [data-card='Dining']::after {
    content: ' room';
  }
}
