@import 'palette.css';

:root {
  --black: rgb(51, 51, 51);
  --white: white;

  --grey: rgb(221, 221, 221); /* #ddd */
  --dark-grey: rgb(153, 153, 153); /* #999 */

  --dark-black: rgb(34, 34, 34);

  --black-barely: rgba(0, 0, 0, 0.125);
  --white-barely: rgba(255, 255, 255, 0.125);

  --row-border-color: var(--grey);
  --row-hover: var(--dark-grey);
  --svg-fill: var(--dark-grey);
  --svg-fill-hover: var(--black);

  --bg-darkmode: var(--black);
  --fg-darkmode: var(--white);
  --bg-lightmode: var(--white);
  --fg-lightmode: var(--black);
}

/*
 * Border box by Tachyons - https://tachyons.io
 */

html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
legend,
pre,
code,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
table,
td,
th,
tr,
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
input[type='url'],
.border-box {
  box-sizing: border-box;
}

html,
body,
.vh100 {
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  font-size: 0.875rem;
}

.container {
  max-width: 1200px;
}

.strike {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

.circle {
  border-color: inherit;
}

.bg-mustard {
  background-color: #ffdb58;
}
.bg-scarlet {
  background-color: #ff2400;
}
.bg-plum {
  background-color: plum;
}
.bg-peacock {
  background-color: #33a1c9;
}
.bg-gray {
  background-color: #ddd;
}

.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}

/* Add/remove buttons */

.add,
.remove {
  position: relative;
  display: flex;
  align-items: center;
  appearance: none;
  background-color: inherit;
  font-size: 1.25rem;
  border: none;
}

.add:active,
.remove:active {
  top: 1px;
}

.add svg,
.remove svg {
  width: 0.75rem;
  transition: 0.15s;
}

.remove svg.rotate {
  transform: rotate(45deg);
}

/* COLOR */

.page.dark {
  background-color: var(--bg-darkmode);
  color: var(--fg-darkmode);
}
.page.light {
  background-color: var(--bg-lightmode);
  color: var(--fg-lightmode);
}

.page.dark a {
  color: #12b337;
}

.page.light .add svg,
.page.light .remove svg {
  fill: var(--dark-grey);
}

.page.light .add:hover svg,
.page.light .remove:hover svg {
  fill: var(--black);
}

.page.dark .add svg,
.page.dark .remove svg {
  fill: rgb(102, 102, 102);
}
.page.dark .add:hover svg,
.page.dark .remove:hover svg {
  fill: var(--white);
}

.page.light table {
  border: 1px solid var(--black-barely);
}
.page.dark table {
  border: 1px solid var(--black-barely);
}

.page.light thead th {
  color: var(--fg-lightmode);
  background-color: #ddd;
}
.page.dark thead th {
  color: var(--fg-darkmode);
  background-color: rgb(34, 34, 34);
}

.page.light tr:not(.spacer):hover {
  background-color: rgba(0, 0, 0, 0.0625);
}
.page.dark tr:not(.spacer):hover {
  background-color: rgba(255, 255, 255, 0.0625);
}

.page.light td,
.page.light th {
  color: inherit;
  border-bottom-color: var(--black-barely);
}
.page.light td {
  border-left-color: var(--black-barely);
}

.page.dark td,
.page.dark th {
  color: inherit;
  border-bottom-color: var(--white-barely);
}
.page.dark td {
  border-left-color: var(--white-barely);
}

.page.dark thead th {
  background-color: rgb(34, 34, 34);
}

.page.light .circle {
  border-color: var(--black);
}
.page.dark .circle {
  border-color: var(--white);
}

.page.light .strike {
  text-decoration-color: var(--black);
}
.page.dark .strike {
  text-decoration-color: var(--white);
}

.v-middle {
  vertical-align: middle;
}

/* People items */
@media only screen and (min-width: 800px) {
  .green::before {
    content: 'Mr. ';
  }
  .mustard::before {
    content: 'Colonel ';
  }
  .peacock::before {
    content: 'Mrs. ';
  }
  .plum::before {
    content: 'Professor ';
  }
  .scarlet::before {
    content: 'Miss ';
  }
  .white::before {
    content: 'Mrs. ';
  }
}
